@{
    ViewBag.Title = "About";
    ViewBag.Message = "We're here to support you AND animals in need!";
}
<h2>@ViewBag.Title.</h2>
<img src="~/Content/Images/fosterpetcareaboutimg.jpg" class="img-responsive center-block">
<h3>@ViewBag.Message</h3>

<p>Paws and Claws is a nonprofit foster care and adoption service based in the lovely city of Indianapolis, Indiana. We work with other, nearby shelters in an effort to ensure that as many animals find loving homes as they possibly can. Our shelter is no-kill, and provides weekly vaccination services as well as monthly spay and neutering services for strays in the Indy area. If you'd like to inquire about one of our adoptable pets, are interested in employment, or want to participate in some of our outreach programs, please contact us and we'll connect you accordingly.</p>
