@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<img src="~/Content/Images/fcccontactone.jpg" class="img-responsive img-circle">

<address>
    <br />
    <br />
    101 Dalmation Drive<br />
    Indianapolis, IN 00000-0000<br />
    <abbr title="Phone">P:</abbr>
    317.123.4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@PCFPC.com">Support@PCFPC.com</a><br />
    <strong>Outreach:</strong> <a href="mailto:Outreach@PCFPC.com">Outreach@PCFPC.com</a>
</address>