@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Paws and Claws Foster Pet Care</h1>
    <h3 class="text-center"> I N D I A N A P O L I S , I N</h3>
    <p class="lead">
        <br />
        Our nonprofit foster care and adoption service is here to help our feathered, scaled, and furry pals on their journey to their forever home.
        <br />  </p>
 
      <p>  Register an account with us to view our current list of animals and caretakers!</p>
    <p><a href="Home/About" class="btn btn-lg btn-default">Learn more &raquo;</a></p>
    <img src="~/Content/Images/arrowline.png" class="img-responsive center-block">
    <br />
    <img src="~/Content/Images/FosterPetCareBanner.png" class="img-responsive">
</div>

<div>
    <img src="~/Content/Images/arrowline.png" class="img-responsive center-block">
</div>


<div class="text-center">
    <h1> Featured Fosters</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Juno</h2>
        <img src="~/Content/Images/dog_three.jpg" class="img-thumbnail" />
        <p>
            Doggo ipsum aqua doggo ruff much ruin diet pupperino, mlem such treat ruff clouds, boof very hand that feed shibe. I am bekom fat shooberino fat boi very good spot, what a nice floof. Heckin angery woofer the neighborhood pupper heckin tungg smol maximum borkdrive, thicc pupperino adorable doggo.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Zeke</h2>
        <img src="~/Content/Images/cat_three.jpg" class="img-thumbnail"/>
        <p>Fish i must find my red catnip fishy fish behind the couch, or cat slap dog in face. Destroy house in 5 seconds cat fur is the new black and freak human out make funny noise mow success now attack human. Eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap love me!</p>
    </div>
    <div class="col-md-4">
        <h2>Lana</h2>
        <img src="~/Content/Images/dog_one.jpg" class="img-thumbnail" />
        <p>
            Doggo ipsum aqua doggo ruff much ruin diet pupperino, mlem such treat ruff clouds, boof very hand that feed shibe. I am bekom fat shooberino fat boi very good spot, what a nice floof. Heckin angery woofer the neighborhood pupper heckin tungg smol maximum borkdrive, thicc pupperino adorable doggo.

        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Veetra</h2>
        <img src="~/Content/Images/bird_two.jpg" class="img-thumbnail"/>
        <p>
            She's a witch! Well, she turned me into a newt. Where'd you get the coconuts? I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ms. Whiskers</h2>
        <img src="~/Content/Images/cat_two.jpg" class="img-thumbnail" />
        <p>Fish i must find my red catnip fishy fish behind the couch, or cat slap dog in face. Destroy house in 5 seconds cat fur is the new black and freak human out make funny noise mow success now attack human. Eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap love me!</p>
    </div>
    <div class="col-md-4">
        <h2>Leek</h2>
        <img src="~/Content/Images/reptile_one.jpg" class="img-thumbnail"/>
        <p>
            I am not a killer. He taught me a code. To survive. I have a dark side, too. I'm a sociopath; there's not much he can do for me. I have a dark side, too. I'm real proud of you for coming, bro. I know you hate funerals. I'm thinking two circus clowns dancing. You? I'm partial to air conditioning. Only you could make those words cute.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Aura</h2>
        <img src="~/Content/Images/kitten_one.jpg" class="img-thumbnail"/>
        <p>
            Fish i must find my red catnip fishy fish behind the couch, or cat slap dog in face. Destroy house in 5 seconds cat fur is the new black and freak human out make funny noise mow success now attack human. Eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap love me!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Baron</h2>
        <img src="~/Content/Images/yellow_cockatiel.jpg" class="img-thumbnail"/>
        <p>
            I'm half machine. I'm a monster. Say goodbye to these, because it's the last time! No, what I'm calling you is a television actor.
            It's a hug, Michael. I'm hugging you. Really?
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gabi</h2>
        <img src="~/Content/Images/puppy_one.jpg" class="img-thumbnail"/>
        <p>
            Doggo ipsum aqua doggo ruff much ruin diet pupperino, mlem such treat ruff clouds, boof very hand that feed shibe. I am bekom fat shooberino fat boi very good spot, what a nice floof. Heckin angery woofer the neighborhood pupper heckin tungg smol maximum borkdrive, thicc pupperino adorable doggo. 

        </p>
    </div>
</div>
<div>
    <img src="~/Content/Images/arrowline.png" class="img-responsive center-block">
</div>
